# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=multimodal_rag

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this
JWT_EXPIRE_MINUTES=1440

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Pinecone
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_INDEX_NAME=multimodal-rag
PINECONE_NAMESPACE_PREFIX=user

PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1

# CLIP
CLIP_MODEL_NAME=openai/clip-vit-base-patch32

# Reranker
RERANKER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2

# Ollama
OLLAMA_MODEL=qwen2.5:3b
OLLAMA_HOST=http://localhost:11434

# Upload
MAX_FILE_SIZE_MB=50