fastapi
uvicorn[standard]
python-multipart

pymongo
dnspython

python-dotenv

bcrypt
PyJWT
email-validator

cloudinary

pinecone

transformers
sentence-transformers

pillow
pytesseract

pymupdf
pdfplumber

python-docx
python-pptx

pandas
openpyxl
xlrd

langchain-text-splitters

ollama

numpy